#links{
	background-color: #CDF93E;
	position: fixed;
	top:-5px;
	left:-5px;
	width:108px;
	height:50000px;
	}

#xhtml {
	padding: 110px 0px 0px 16px;
	}

#css {
	padding: 20px 0px 0px 16px;
	}

h1 {
	margin-left:100px;
	background-color: #BAF300;
	}

table {
	border: 0.01em solid black;
	margin-top: 48px;
	margin-left:100px;
	}
	
.grau {
	background-color: #D9F970;
	}
	
.nr  {
	font-weight: bold;
	font-size: 0.9em;
	}
	
.element
	{
	font-weight: bold;
	color: #DF0F3F
	}

.bilder {
	align:center;
	}